:root {
  --spacing-small: 10px;
  --spacing-medium: 20px;
  --spacing-big: 30px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  row-gap: var(--spacing-big);

  background-image: url('../img/pattern.jpg');
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

header, section {
  background: white;
}

header {
  display: flex;
  justify-content: space-between;

  top: 0;
  position: sticky;
}

header > nav {
  display: inherit;
  align-items: center;

  padding: var(--spacing-small);
}

header > nav > ul {
  display: inherit;
  gap: var(--spacing-small);
}

section {
  padding: var(--spacing-big);
  margin: auto;
  max-width: 800px;
}

section > h1 {
  text-align: center;
  padding: var(--spacing-medium);
}

section > #article-list {
  display: grid;
  row-gap: var(--spacing-small);
}

section > #article-list > article {
  border-bottom: 2px solid;
}

section > #article-list > article > p {
  padding: var(--spacing-medium) 0;
}

footer {
  color: white;
  text-align: center;
  
  background: black;
  padding: var(--spacing-big);
}

