* {
  box-sizing: border-box;
}

.list-group-item {
  border: 0;
}

header .navbar-brand > img {
  width: 100%;
}

main {
  min-height: 100vh;
}

main .isCarousel, 
.container-aside-right > aside > .list-group {
  height: 65vh;
}

main .carousel, 
.carousel-inner, 
.carousel-item,
.container-aside-right > aside {
  height: inherit;
}

main .carousel .carousel-item img {
  object-fit: cover;
}

main .card-deck img {
  height: 200px;
  object-fit: contain;
}

main .card-deck .card-body {
  max-height: 200px;
  overflow-y: auto;
} 


.container-aside-right aside {
  display: grid;
  gap: 1rem;
}


